.title {
    padding-left: 10px;
    color: #666;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}

.nav-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 20px;
    line-height: 3;

    &:hover {
        background-color: #b4d7ff;
        color: #333;
    }
}

.nav-item-current {
    background-color: #007cd2;
    color: #fff;
}

.external {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}
