.root {
    margin-top: 10px;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px dotted #ebedf0;
    color: #aaa;
    cursor: pointer;

    &:hover {
        color: #333;
    }
}

.code {
    display: flex;
}

.code-text-style() {
    font-family: "Lucida Console", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    line-height: 1.5;
}

.gutter {
    .code-text-style();

    width: 5ch;
    padding-right: 2ch;
    text-align: right;
    color: #1b1f234d;
    user-select: none;
}

.line-number {
    display: block;
}

:global {
    pre[class*="language-"],
    code[class*="language-"] {
        .code-text-style();
    }
}
